

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

 body {
    background-image: url();
    font-family: ;
    color: ;

    
}
h1
p
nav
footer
<h3>Recipe (Cordillera's Traditional Chicken Soup Recipe)</h3>
<h5>Ingridients:</h5>

iframe {

    height: 400px;
    width: 600px;
    border-radius: 20px;
}

img {
    border-radius: 50px;
    height: 500px;
    width: 500px;
    

    box-shadow: -18px 19px 20px 1px rgba(0,0,0,1);
    -webkit-box-shadow: -18px 19px 20px 1px rgba(0,0,0,1);
    -moz-box-shadow: -18px 19px 20px 1px rgba(0,0,0,1);
}

/* about us  javascript*/
/* links head */


@media {}
      
 /* !!!!!!!!!!! standard!!!!!!!! */


 

/*  portion mam alma (pork)  */
ratings
nav bar 
footer 



/* portion sir lary (fish) */
dessert
additionals

/*  sir arky */
logo
additonals 
/* sir kent */
dessert
additonals

/* alex */

front page




