* {
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
     
}


h1 {

    border-bottom: solid 2px #B88C46;
   text-align: center;
   color: burlywood;
}

body {

    background-image: url(https://cdn.wallpapersafari.com/12/51/YWV06R.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    
    
}

.pinikpikan {
    
    justify-content: space-between;
    padding: 40px;
    display: flex;
    border-bottom: #B88C46 solid 2px;
   
    
    
}


.pinikpikan h3  {
    color: goldenrod;
    padding-bottom: 20px;
     
}
.pinikpikan h4 {

    color: goldenrod;
    padding-bottom: 20px;
}

.pinikpikan div img {

    border-radius: 50px;
    height: 500px;
    width: 500px;
    margin-left: 50px;

    box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    -moz-box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    

}

.pinikpikan p {
    color:burlywood;
    font-size: 15px;
   
    
}
.pinikpikan ul {

    color: #B88C46;
    margin-top: 20px;
 
    list-style: none;
}
.pinikpikan iframe {

        height: 400px;
        width: 600px;
        border-radius: 20px;

}
/* inasal */

.inasal {
    justify-content: space-between;
    padding: 40px;
    display: flex;
    border-bottom: #B88C46 solid 2px;


}

.inasal div img {

    border-radius: 50px;
    height: 500px;
    width: 500px;
    margin-right: 50px;

    box-shadow: -18px 19px 20px 1px rgba(0,0,0,1);
    -webkit-box-shadow: -18px 19px 20px 1px rgba(0,0,0,1);
    -moz-box-shadow: -18px 19px 20px 1px rgba(0,0,0,1);
    


}

.inasal h3 {

    color: goldenrod;
    
   

}
.inasal h4 {

    color: goldenrod;
    padding-bottom: 20px;

}

.inasal p {

    color:burlywood;
    margin-left: 20px;
    
}

.inasal ul {

    color: #B88C46;
    list-style: none;
    margin-top: 20px;
   


}
.inasal iframe {

    height: 400px;
    width: 600px;
    border-radius: 20px;


}


/* pastel */


.pastil {

    justify-content: space-between;
    padding: 40px;
    display: flex;
    border-bottom: #B88C46 solid 2px;

}
.pastil h3 {
    
    color: goldenrod;
    padding: 0px 0px 20px 20px ;
   

    

}

.pastil h4 {

    color: goldenrod;
    padding-bottom: 20px;


}

.pastil div img {

    border-radius: 50px;
    height: 500px;
    width: 500px;
    margin-left: 50px;

    box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    -moz-box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    

}

.pastil p {

    color:burlywood;
    margin-left: 20px;
    

}
.pastil ul {

    color: #B88C46;
    list-style: none;
    margin-top: 20px;



}
.pastil iframe {
    height: 400px;
    width: 600px;
    border-radius: 20px;
   


}


