* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    background-image: url(https://img.freepik.com/premium-photo/wooden-board-empty-table-kitchen-background_27550-1037.jpg?w=2000
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: red;
    text-align: center;
    border: 2px solid black;
}