* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    background-image: url(https://media.istockphoto.com/id/1334986663/photo/kitchen-background-interior-style-scandinavian-with-glass-jars-and-kitchen-stove.jpg?s=612x612&w=0&k=20&c=_w6fFApA2L7bck0Nsmx2-ZchF20yR3QKfHKtxb3lR3g=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: aquamarine;
    border: 2px solid black;
}