// RECIPE PAGES (hindi po pwed palitan...dapat pare-pareho tayo)

// h1 to h6
// p
// * universal selector
// body
// recipe title
// button
// image
// iframe
// margin
// padding

// css links
// bootstrap
// javascript




/* UNIVERSAL SELECTOR */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    letter-spacing: 1px;
}

body {
     background-image: url(https://img.freepik.com/premium-photo/empty-top-marble-counter-table-kitchen-room_67155-1930.jpg?w=1380); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
h1 {
  
    text-align: center;
    color: burlywood;
}
}
/*from chicken.css file*/
h1 {
   
   color: burlywood;
  
  
}
.title h2 {
    text-align: center;
    justify-content: center;
    border-bottom: #B88C46 solid 2px;
}
.pinikpikan {
    
    justify-content: space-between;
    padding: 40px;
    border-bottom: 2px #B88C46 solid;
    text-align: center;
    justify-content: center;
   
}
.pinikpikan h3  {
    color: goldenrod;
    padding-bottom: 20px;
.pinikpikan h4 {
    color: goldenrod;
   
}
.container  div img {
    border-radius: 50px;
    height: 500px;
    width: 500px;
    
    box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 18px 19px 20px 1px rgba(0,0,0,1);
    font-size: 15px;
 
}
.pinikpikan ul {
    color: #B88C46;
    margin:20px;
    list-style: none;
}
        border-radius: 20px;
}
.pinikpikan .map {
    width: fit-content;
}
/* inasal */
.inasal {
    width: 500px;
    margin-right: 50px;
}
   
div ul,
iframe {
        border-radius: 50px;
        
        box-shadow: 1px 4px 41px 12px rgba(0,0,0,0.51);
-webkit-box-shadow: 1px 4px 41px 12px rgba(0,0,0,0.51);
-moz-box-shadow: 1px 4px 41px 12px rgba(0,0,0,0.51);
}
/* carousel */
 .carousel div {
        
       
}
.carousel h5 {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
   
}